
Вимоги:
+ Можливість згенерувати довільний ключ
= Можливість імпортувати/вручну задати ключ
+ Можливість зашифрувати текст з використанням ключа
+ Можливість розшифрувати текст з використанням ключа
- Можливість зчитати зашифрований текст з файлу та записати розшифрований текст у файл
- Можливість зчитати розшифрований текст з файлу та записати зашифрований текст у файл